# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Наблюдение:** из первых 20 строк датафрейма видно, что в столбце **days_employed** присутствуют некорректные данные (отрицательные значения), которые нужно будет исправить.

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В данном датафрейме присутствуют пропущенные значения в столбцах **days_employed** и **total_income**.

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Опишем данный цикл.
Мы проходимся по уникальным значениям из столбца **income_type**, затем ищем строки, которые соответствуют двум условиям: 
1) Значение **income_type** равно текущему значению

2) Значение в **total_income** пропущено

Далее заменяем пропущенные значения в 'total_income' медианным значением дохода для текущего типа дохода t.

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

Видим, что присутствуют аномальные значения: **-1** и **20**.

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Перезаписал датафрейм с условием, что в столбце **children** нет значений, которые равняются -1 и 20.

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Проделал такую же процедуру, как в задании 5, однако, теперь заменял пропущенные значения в столбце **days_employed**.

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Пропуски были успешно удалены!

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

Явные дупликаты были удалены с помощью метода **drop_duplicates()**.

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

<a id="children"></a>

In [22]:
addiction_children_debt = data.pivot_table(index='children', values='debt', aggfunc={'debt': 'sum'})
addiction_children_debt['count'] = data.groupby('children')['debt'].count()
addiction_children_debt['debt_percentage'] = (addiction_children_debt['debt'] / addiction_children_debt['count']) * 100

Создадим сводную таблицу **addiction_children_debt**, сгруппировав данные по столбцу **children**, также добавим столбец **debt**, по значениям которого будет происходить группировка, но с помощью **aggfunc** возьмём сумму (число задолженностей).

Далее в сводной таблице создадим столбец **count**, т.е. общее количество заемщиков по каждой группе.

Затем создадим столбец **debt_percentage**, который будет находится как отношение числа задолженностей к общему числу заемщиков, умножим на 100, чтобы посмотреть на процент невозврата.

In [23]:
addiction_children_debt.sort_values(by='debt_percentage', ascending=True)

          debt  count  debt_percentage
children
5            0      9         0.000000
0         1063  14091         7.543822
3           27    330         8.181818
1          444   4808         9.234609
2          194   2052         9.454191
4            4     41         9.756098

**Промежуточный вывод:** Из полученной таблицы видим, что семьи, в которых 4 и более детей это редкость и судить об их ответственности в выплате кредита довольно сложно. Поэтому стоить отфильтровать таблицу, в которую войдут заёмщики, общее количество которых превышает хотя бы 100 человек.

Но до фильтрации мы имеем следующие результаты:

**Самые ответственные в выплате кредита:** семьи, в которых 5 детей.

**2 место:** семьи, у которых нет детей.

**3 место:** семьи, у которых 3 ребенка.

**4 место:** семьи, у которых 1 ребенок.

**5 место:** семьи, у которых 2 ребенка.

**6 место:** семьи, у которых 4 ребенка.

In [24]:
addiction_children_debt.loc[(addiction_children_debt['count'] > 100)].sort_values(by='debt_percentage', ascending=True)

          debt  count  debt_percentage
children
0         1063  14091         7.543822
3           27    330         8.181818
1          444   4808         9.234609
2          194   2052         9.454191

**Вывод:** После применения фильтра можно сделать вывод о том, что самые ответственные семьи (**1 место**), у которых нет детей, так как процент невозврата кредита у таких семей наименьший, возможно это связано с тем, что у них нет незапланируемых расходов связанных с детьми. 

Затем идут семьи (**2 место**), у которых три ребенка, в этом случае появляются незапланируемые расходы связанные с детьми и ответственности у таких семей намного больше, поэтому шанс просрочить выплату увеличивается, но также стоит учитывать количество таких семей.

Инересно, что семьи с одним ребенком заняли **3 место**, возможно, семьи берут единоразовый кредит и не сильно волнуются по поводу просроченных выплат.

**4 место** заняли семьи с двумя детьми, в этом случае имеет место предположение о внезапных расходах на детей и единоразовых кредитах.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

<a id="family_status"></a>

In [25]:
addiction_familystatus_debt = data.pivot_table(index='family_status', values='debt', aggfunc={'debt': 'sum'})
addiction_familystatus_debt['count'] = data.groupby('family_status')['debt'].count()
addiction_familystatus_debt['debt_percentage'] = (addiction_familystatus_debt['debt'] / addiction_familystatus_debt['count']) * 100

Создадим сводную таблицу **addiction_familystatus_debt**, сгруппировав данные по столбцу **family_status**, также добавим столбец debt, по значениям которого будет происходить группировка, но с помощью aggfunc возьмём сумму (число задолженностей).

Далее в сводной таблице создадим столбец **count**, т.е. общее количество заемщиков по каждой группе семейного положения.

Затем создадим столбец debt_percentage, который будет находится как отношение числа задолженностей к общему числу заемщиков по каждой группе семейного положения, умножим на 100, чтобы посмотреть на процент невозврата.

In [26]:
addiction_familystatus_debt.sort_values(by='debt_percentage', ascending=True)

                       debt  count  debt_percentage
family_status
вдовец / вдова           63    951         6.624606
в разводе                84   1189         7.064760
женат / замужем         927  12261         7.560558
гражданский брак        385   4134         9.313014
Не женат / не замужем   273   2796         9.763948

**Вывод:** В этом случае данные выглядят более релевантно, чем в предыдущем случае. Из данной таблицы можно сделать следующие выводы:

Во-первых, существует зависимость между семейным статусом и вовремя возвращенным кредитом. 

Люди с семейным положением **"вдовец/вдова"** походят более ответственно к выплате кредита (**1 место**).

Граждане, у которых семейное положение **"в разводе"** находятся на **2 месте**.

Затем идут люди с семейным положением **"женат/замужем"**, они заняли **3 место**.

На **4 месте** находятся люди, у кторых семейное положение **"гражданский брак"**.

На **5 месте** расположилась категория людей, у которых семейное положение **"не женат/ не замужем""**.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

<a id="total_income"></a>

In [27]:
addiction_income_debt = data.pivot_table(index=['total_income_category'], values='debt', aggfunc={'debt': 'sum'})
addiction_income_debt['count'] = data.groupby('total_income_category')['debt'].count()
addiction_income_debt['debt_percentage'] = (addiction_income_debt['debt'] / addiction_income_debt['count']) * 100

Создадим сводную таблицу **addiction_income_debt**, сгруппировав данные по столбцу **total_income_category**, также добавим столбец debt, по значениям которого будет происходить группировка, но с помощью aggfunc возьмём сумму (число задолженностей).

Далее в сводной таблице создадим столбец **count**, т.е. общее количество заемщиков по каждой группе дохода.

Затем создадим столбец **debt_percentage**, который будет находится как отношение числа задолженностей к общему числу заемщиков по каждой группе дохода, умножим на 100, чтобы посмотреть на процент невозврата.

Также стоит отметить диапазоны, по которым я группировал доходы людей:

- 0–30000 — 'E';

- 30001–50000 — 'D';

- 50001–200000 — 'C';

- 200001–1000000 — 'B';

- 1000001 и выше — 'A'.

In [28]:
addiction_income_debt.sort_values(by='debt_percentage', ascending=True)

                       debt  count  debt_percentage
total_income_category
D                        21    349         6.017192
B                       354   5014         7.060231
A                         2     25         8.000000
C                      1353  15921         8.498210
E                         2     22         9.090909

**Промежуточный вывод:** В данном случае видим две категории, в которых присутствует менее 100 человек, а именно люди с доходами до 30 000 и люди с доходами более 1 000 001. На сегодняшний день таких людей действительного не очень много, поэтому можно отфильтровать таблицу.

Однако до фильтрации можно следать следующией выводы:

Самые ответственные люди с категорией доходов **D** (от 30 001 до 50 000) занимают **1 место**, так как имеют самый низкий процент невозврата кредита.

**2 место** место занимают люди с категорией доходов **B** (от 200 001 до 1 000 000).

Далее идут люди с категорией доходов **A** (от 1 000 001), которые заняли **3 место**.

На **4 месте** расположились люди с категорией доходов **C** (от 50 001 до 200 000).

**5 место** занимают люди, у которых категория доходов **E** (от 0 до 30 000).

In [29]:
addiction_income_debt.loc[(addiction_income_debt['count'] > 100)].sort_values(by='count')

                       debt  count  debt_percentage
total_income_category
D                        21    349         6.017192
B                       354   5014         7.060231
C                      1353  15921         8.498210

**Вывод:** Из полученной таблицы можем сделать вывод о том, что существует зависимость между уровнем дохода и возвратом кредита в срок, так как чем выше доход людей, тем больший процент должников.

Самые ответственные - это люди, которые имеют категорию доходов **D** (от 30 001 до 50 000), они занимают **1 место**.

На **2 месте** расположились люди, которые имеют категорию доходов **B** (от 200 001 до 1 000 000).

На **3 месте** находятся люди с категорией доходов **C** (от 50 001 до 200 000), также стоит отметить, что число людей, которые входят в данную категорию, наибольшее.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

<a id="purpose"></a>

In [30]:
addiction_purpose_debt = data.pivot_table(index=['purpose_category'], values='debt', aggfunc={'debt': 'sum'})
addiction_purpose_debt['count'] = data.groupby('purpose_category')['debt'].count()
addiction_purpose_debt['debt_percentage'] = (addiction_purpose_debt['debt'] / addiction_purpose_debt['count']) * 100

Создадим сводную таблицу **addiction_purpose_debt**, сгруппировав данные по столбцу **purpose_category**, также добавим столбец **debt**, по значениям которого будет происходить группировка, но с помощью aggfunc возьмём сумму (число задолженностей).

Далее в сводной таблице создадим столбец **count**, т.е. общее количество заемщиков по каждой группе целей кредита.

Затем создадим столбец **debt_percentage**, который будет находится как отношение числа задолженностей к общему числу заемщиков по каждой группе целей кредита, умножим на 100, чтобы посмотреть на процент невозврата.

Также стоит отметить диапазоны, по которым я группировал цели кредита:
- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [31]:
addiction_purpose_debt.sort_values(by='debt_percentage')

                          debt  count  debt_percentage
purpose_category
операции с недвижимостью   780  10751         7.255139
проведение свадьбы         183   2313         7.911803
получение образования      369   3988         9.252758
операции с автомобилем     400   4279         9.347978

**Вывод:** Полученная таблица содержит в себе релевантные данные.

Самые ответственные заёмщики - это люди, которые берут кредит на операции с недвижимостью, они занимают **1 место**.

На **2 месте** расположились люди, которые берут кредит на свадьбу.

Затем идут люди, которые берут ссуду для получения образования, они занимают **3 место**.

На **4 месте** расположились люди, которые берут кредит связанный с автомобилем.

 **P.S. Другой способ формирования таблиц**

В ходе выполнения данного проекта, а именно при исследовании зависимости между определенной группой и возвратом кредитом в срок, была выявлена некоторая закономерность при создании каждой сводной таблицы. В этом локальном случае можно было воспользоваться функцией **new_pivot_table**, которая помогла бы избавиться от повторяющихся строк кода.

In [32]:
def new_pivot_table(main_table, main_param):
    table = main_table.pivot_table(index=[main_param], values='debt', aggfunc={'debt': 'sum'})
    table['count'] = main_table.groupby(main_param)['debt'].count()
    table['debt_percentage'] = (table['debt'] / table['count']) * 100
    return table.sort_values(by='debt_percentage')

**1) Зависимость между количеством детей и возвратом кредита в срок.**

In [33]:
addiction_children_debt2 = new_pivot_table(data, data['children'])
addiction_children_debt2.sort_values(by='debt_percentage')

          debt  count  debt_percentage
children
5            0      9         0.000000
0         1063  14091         7.543822
3           27    330         8.181818
1          444   4808         9.234609
2          194   2052         9.454191
4            4     41         9.756098

**2) Зависимость между семейным положением и возвратом кредита в срок?**

In [34]:
addiction_familystatus_debt2 = new_pivot_table(data, data['family_status'])
addiction_familystatus_debt2

                       debt  count  debt_percentage
family_status
вдовец / вдова           63    951         6.624606
в разводе                84   1189         7.064760
женат / замужем         927  12261         7.560558
гражданский брак        385   4134         9.313014
Не женат / не замужем   273   2796         9.763948

**3) Зависимость между уровнем дохода и возвратом кредита в срок.**

In [35]:
addiction_income_debt2 = new_pivot_table(data, data['total_income_category'])
addiction_income_debt2

                       debt  count  debt_percentage
total_income_category
D                        21    349         6.017192
B                       354   5014         7.060231
A                         2     25         8.000000
C                      1353  15921         8.498210
E                         2     22         9.090909

**4) Разные цели кредита влияют на его возврат в срок.**

In [36]:
addiction_purpose_debt2 = new_pivot_table(data, data['purpose_category'])
addiction_purpose_debt2

                          debt  count  debt_percentage
purpose_category
операции с недвижимостью   780  10751         7.255139
проведение свадьбы         183   2313         7.911803
получение образования      369   3988         9.252758
операции с автомобилем     400   4279         9.347978

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Если говорить о причинах пропусков данных, то иногда случаются технические ошибки в БД или изначально не было договоренностей о единых методах сбора данных. Ошибки при вводе данных могут привести к пропускам, особенно если данные собираются вручную. Если данные имеют разные форматы, это может привести к невозможности прочтения или интерпретации определенных значений. Иногда данные могут быть намеренно удалены или скрыты по различным причинам, таким как конфиденциальность или цензура.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнение пропусков медианным значением является хорошим решением для количественных переменных, потому что медиана даёт возможность абстрагироваться от выбросов и анамальных значений, тем самым сохраняя структуру данных. Также стоит отметить, что  не искажает целостность распределения, так как в большом наборе данных приблизительно равняется среднему. Ещё одним преимуществом медианы является простота интерпретации результатов. Однако, стоит понимать, что не во всех случаях медиана является лучшим решением, всё зависит от контекста и особенностей данных.

### Шаг 4: общий вывод.

Исследование, проведенное на основе предоставленных данных о заемщиках, позволило выявить несколько важных зависимостей между характеристиками заемщиков и их платежной дисциплиной. Однако, перед переходом к выводам, следует отметить некоторые аспекты качества предоставленных данных.

Первоначальный анализ данных показал, что некоторые категории имели недостаточное количество данных для проведения более глубокого анализа. Например, информация о количестве детей и доходе могла быть представлена более подробно или полно, что позволило бы провести более точные и объективные вычисления. 

Теперь перейдём к выводам исследования.
- Во первых, было выявлено, что количество детей вляет на возврат кредита в срок. Семьи у которых нет детей более ответственно подходят к выплате кредита, так как процент должников в данной категории равняется **7,54**. Самый высокий процент должников соответсвует категории семьи, у кторой 2 ребенка, их процент равняется **9,45**. Однако стоит отметить, что данных для более глубокого анализа этой зависимостей было недостаточно. Подробнее с разделом исследования данной гипотезы можете ознакомиться в [разделе с вычислениями](#children).


- Во-вторых, проверка предположения о том, что семейное положение влияет на возврат кредита в срок, выявила следющее: люди с семейным положением "вдовец/вдова" походят более ответственно к выплате кредита, процент должников в этой категории наименьший и равняется **6,62**. Чаще всех просрачивают выплаты по кредиту люди, у которых семейное положение "Не женат / не замужем", процент должников в данной категории равен **9,76**. Подробнее с разделом исследования данной гипотезы можете ознакомиться в [разделе с вычислениями](#family_status).


- В-третьих, было выявлено, что более ответственно подходят к выплате кредита люди, которые имеют доход от 30 001 до 50 000, процент должников в этой категории наименьший и равен **6,02**. Чаще всего просрачивают выплаты люди с доходом от 50 001 до 200 000, процент должников в этой категории равен **8,5**. Также стоит отметить, что данных для более детального анализа этой зависимости было недастаточно. Подробнее с разделом исследования данной гипотезы можете ознакомиться в [разделе с вычислениями](#total_income).


- В-четвертых, было проверено предположение о том, что цели кредита влияют на его возврат в срок. Оказалось, что люди, которые берут кредит, связанный с недвижимостью, более ответственно подходят к его погашению, процент должников в данной категории равен **7,26**. Самый высокий процент должников, который равняется **9,35** принадлежит категории людей, которые берут кредит, связанный с автомобилем. Подробнее с разделом исследования данной гипотезы можете ознакомиться в [разделе с вычислениями](#purpose). 

В заключительной части отражен портерт **"идеального клиента"** и **"худшего клиента"** и рекомендации по сбору данных.

**Портрет идеального клиента:**
- Клиент без детей или с одним ребенком.
- Семейное положение "вдовец/вдова".
- Стабильный средний доход в диапазоне от 30 001 до 50 000.
- Цель кредита - приобретение или ремонт недвижимости.

**Портрет худшего клиента:**

- Клиент с двумя и более детьми.
- Семейное положение "Не женат / не замужем".
- Высокий доход от 50 001 до 200 000.
- Цель кредита - приобретение автомобиля.

Стоит обратить внимание на сбор данных с информацией об **общем трудовом стаже в днях** и **ежемесячном доходе**, так как в этих столбцах присутствовали пропуски, также трудовой стаж был представлен отрицательными значениями.